<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>About</title>
</head>
<body>
    <h1>About XXXTentacion</h1>

    <nav class="nav-bar">
        <ul class="nav-bar-ul">
          <li> <a class="nav-bar-item" href="/">Homepage</a></li>
          <li> <a class="nav-bar-item" href="/work">Work</a> </li>
        </ul>
      </nav>

    <h2>Leben und Karriere</h2>

    <article> 
        Durch die finanziellen Probleme seiner Mutter verbrachte Onfroy die meiste Zeit seiner Kindheit bei seiner Großmutter. Sein Interesse für die Musik wurde geweckt, als seine Tante ihn davon überzeugte, erst den Schulchor und später den Kirchenchor zu besuchen. Kurz nach seinem Beitritt wurde er jedoch aus dem Schulchor geworfen, da er an einem Angriff auf einen anderen Schüler beteiligt war. Onfroy wurde aus der Mittelschule verwiesen, nachdem er sich durch viele weitere physische Auseinandersetzungen mit anderen auffällig gezeigt hatte.[6] Onfroy besuchte die Piper High School, die er jedoch in der 10. Klasse abbrach.[7]
        
        Das erste Lied News/Flock veröffentlichte Onfroy im Juni 2013 unter seinem Künstlernamen XXXTentacion auf Soundcloud.[8] Darauffolgend lud er häufig kleine Ausschnitte aus seinen Songs hoch, welche er nach kurzer Zeit oft wieder von der Plattform entfernte. Im Jahr 2014 verbrachte er ein Jahr in einer Haftanstalt für Jugendliche.[9][10] Dort lernte er Stokeley Clevon Goulbourne (besser bekannt unter seinem Künstlernamen Ski Mask The Slump God) kennen, der sein bester Freund wurde.
        
        Am 5. März 2014 veröffentlichte Onfroy das Lied Vice City auf Soundcloud, welches sein erster professionell im Studio aufgenommener Track ist.[11] Im Laufe des Jahres veröffentlichte er weiter kleinere Ausschnitte aus seinen Liedern, die er entweder später veröffentlichte oder wieder von der Plattform entfernte. Onfroy trat der von Ski Mask The Slump God gegründeten Gruppe Very Rare bei, die er jedoch bald wieder verließ, um gemeinsam mit Goulbourne Members Only zu gründen.[12] Ende des Jahres, am 21. November 2014, veröffentlichte Onfroy seine EP namens The Fall.
        
        Im Jahre 2015 erfolgte dann die Veröffentlichung des ersten gemeinsamen Mixtapes mit Ski Mask The Slump God, welches den Namen Members Only Vol. 1 trägt. Am 23. Oktober 2015 wurde unter dem Namen Members Only Vol. 2 ein Mixtape veröffentlicht, auf dem Onfroy mit Mitgliedern des von ihm gegründeten Kollektiv zu hören ist. Kurz vor dem Jahresende wurde ein weiteres Lied namens Look At Me veröffentlicht, welches später für seinen großen Durchbruch sorgen würde.
        
        Onfroy bezeichnete sich häufig eher als Künstler statt als Rapper, da er viele Musikrichtungen miteinander vermischte und somit keinem Genre zugeordnet werden kann; deutlich wird das in seiner 2016 veröffentlichten EP Willy Wonka Was a Child Murderer, in welcher die Musik hauptsächlich von Heavy Metal und Indie beeinflusst ist.
        
        2016 zog Onfroy mit dem amerikanischen Rapper Denzel Curry zusammen, welches auch als ULT House bekannt war. Zuvor kündigte er seine Tätigkeit als Mitarbeiter eines Callcenters, da er sich auf seine stetig wachsende Musikkarriere konzentrieren wollte.[13] Im Juni 2016 wurde Onfroy wegen Raubes und des Übergriffs mit einer tödlichen Waffe verhaftet. Nachdem er im Oktober 2016 eine Kaution hinterlegt hatte und freigelassen worden war, wurde er im selben Monat noch einmal verhaftet; die Anklagepunkte waren Freiheitsberaubung, Zeugenmanipulation und gefährliche Körperverletzung seiner Exfreundin.[14] Ob er derjenige war, der an ihrer Körperverletzung schuld war, ist ungeklärt.[15]
        
        Sein acht Titel umfassendes Debütprojekt Revenge wurde am 16. Mai 2016 veröffentlicht, sein kollaboratives Mixtape Members Only Vol. 3 wurde am 26. Juni 2017 über SoundCloud veröffentlicht. Seinen Durchbruch schaffte er im selben Jahr mit dem Lied Look at Me!. Während er von Juli 2016 bis zum März 2017 die meiste Zeit im Gefängnis war, erlangte dieser 2016 erstveröffentlichte und 2017 erneut veröffentlichte Titel über die Plattformen SoundCloud und YouTube immer mehr Aufmerksamkeit und verhalf ihm schließlich durch den plötzlichen viralen Aufschwung zum weltweiten Durchbruch. Der Song stieg auf Platz 34 in den US Billboard Hot 100[16] und in die Top 37 der Canadian Hot 100.[17]
        
        Onfroy wurde am 26. März 2017 gegen Kaution freigelassen und war seitdem auf zweijähriger Bewährung. Am 15. Dezember 2017 folgte in Miami, Florida ein weiteres Gerichtsverfahren, bei dem er in Untersuchungshaft genommen wurde.[18][19] Am 20. Dezember wurde er zu einem zweimonatigen Hausarrest verurteilt.[20]
        
        Am 25. August 2017 veröffentlichte Onfroy sein Debütalbum 17.[21] Das Album erreichte Platz 2 der US Billboard 200 Charts und verkaufte in der ersten Woche über 86.000 Einheiten.[22] Im September 2017 kündigte er an, dass das Album Bad Vibes Forever sich noch in Produktion befinden würde. Sieben Lieder des Albums schafften es auf die Billboard Hot 100 Charts, wobei Jocelyn Flores auf Platz 34 der Charts landete, was dadurch Onfroys bisher erfolgreichstes Lied Look At Me! ablöste.[23]
        
        Er war Teil der 2017 XXL Freshman Class des Musikmagazins XXL. Am 20. Oktober 2017 unterschrieb er einen Vertrag bei dem Major-Label Capitol Music Group, einem Tochterunternehmen von Universal Music.[24][25] Nach sechs Tagen kündigte er den Vertrag wieder.[26]
        
        Bei dieser Bekanntgabe erklärte er gleichzeitig, dass sehr lange keine Musik mehr von ihm kommen werde, weil er erschöpft sei.[26][27] Am 28. Oktober 2017 gab er über Instagram bekannt, seine Karriere komplett zu beenden,[28][29] was er jedoch am 17. November mit der Ankündigung zum Mixtape Bad Vibes forever wieder indirekt zurücknahm.[30][31]
        
        2018 veröffentlichte Onfroy auf seinem YouTube-Kanal ein Video namens „#THEHELPINGHANDCHALLENGE“, in dem er Spielzeuge, Musikinstrumente, Spielekonsolen und weitere Geschenke an ein Waisenhaus spendet.[32] Gleichzeitig kündigte er den Beginn der Challenge an, in der er seine Fans dazu auffordert etwas Gutes für die Bedürftigen zu tun. Wenig später erreichte der Hashtag bereits über eine Million Erwähnungen auf Instagram.[33]
        
        Im Februar erschien das Lied Hope, welches in Gedenken an die Opfer des Schulmassakers in Parkland veröffentlicht wurde. Im März 2018 veröffentlichte er mit Sad! und changes, die ersten Singles aus seinem zweiten Studioalbum ?.[34] ? erschien am 16. März 2018 und platzierte sich auf Platz eins der US-amerikanischen Albumcharts. Onfroy arbeitete laut eigenen Angaben an seinem zweiten Studioalbum Bad Vibes als auch an seinem Mixtape I Need Jesus.  </article>

    


</body>
</html>